@page "/"
@inject MediatR.IMediator _mediator

<PageTitle>Index</PageTitle>
<ul>
    @foreach (var p in people)
    {
        <li> @p.FirstName @p.LastName </li>
    }
</ul>

@code {
    List<PersonModel> people;
    protected override async Task OnInitializedAsync()
    {
        people = await _mediator.Send(new GetPersonListQuery());
    }
}
